.imgposter{
    height: 200px;
    width: 136px;
    border: 5px solid rgb(0, 0, 0);
    z-index: 1;
};
.imgposter:hover{
    
}
.imgposter-div:hover{
transform: scale(1.05);
    cursor: pointer;
}

.modalTitle{
    display: flex;
    justify-content: center;
    align-items: center;
};

/* .modalSubTitle{
    display: flex;
    justify-content: center;
    align-items: center;
} */
