.MovieLibrary {
  text-align: center;
  background-color: rgb(80, 80, 80);
}

.ML-logo {
  animation: ML-logo-spin infinite 8s ease;
  height: 80px;
}

.ML-header {
  display: flex;
  justify-content: space-between;
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.ML-title {
  font-size: 1.5em;
  padding: 10px;
}

.ML-intro {
  font-size: large;
}

@keyframes ML-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(720deg); }
}
